* {
  box-sizing: border-box;
}

body {
  max-width: 600px;
  margin: 20px auto;
  padding: 20px;
  background-color: var(--color-body-background);
  font-family: "Roboto Mono", monospace;
  font-size: 110%;
  line-height: 1.5;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  line-height: 1.2;
}
