* {
    box-sizing: border-box;
}

body {
    max-width: 600px;
    margin: 20px auto;
    padding: 20px;
    background-color: rgb(219, 219, 219);
    font-family: 'Roboto Mono', monospace;;
    font-size: 110%;
    line-height: 1.5;
}

h1 {
    text-decoration: underline dotted;
}

h2 {
    border-bottom-style: hidden;
    padding: px;
}

.title {
    padding: 20px;
}

h1, h2, h3, h4, h5, h6 {
    line-height: 1.2;
    margin: auto;
}

img {
    width: 100%;
    height: auto;
    display: block;
}

.image {
    display: block;
    width: 100%;
    height: auto;
    padding: 20px;
}

.image:hover {
    animation: shake 0.5s;
    animation-iteration-count: infinite;
  }

@keyframes shake {
    0% { transform: translate(1px, 1px) rotate(0deg); }
    10% { transform: translate(-1px, -2px) rotate(-1deg); }
    20% { transform: translate(-3px, 0px) rotate(1deg); }
    30% { transform: translate(3px, 2px) rotate(0deg); }
    40% { transform: translate(1px, -1px) rotate(1deg); }
    50% { transform: translate(-1px, 2px) rotate(-1deg); }
    60% { transform: translate(-3px, 1px) rotate(0deg); }
    70% { transform: translate(3px, 1px) rotate(-1deg); }
    80% { transform: translate(-1px, -1px) rotate(1deg); }
    90% { transform: translate(1px, 2px) rotate(0deg); }
    100% { transform: translate(1px, -2px) rotate(-1deg); }
  }

.main-nav {
    border:  1px solid;
    display: flex;
    padding: 3px;
    gap: 1px;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    align-content: center;
}

.main.nav > * {
    flex-grow: 1;
    flex-basis: 0;
}

.button {
    padding: 5px 5px;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    outline: none;
    color: black;
    border: none;
  }
  
  .button:hover {background-color: #acaaaa}
  
  .button:active {
    background-color: #7f807f;
    transform: translateY(4px);
  }

.picture {
border-radius: 50%;
}

.space1 {
    border-style: hidden;
    padding: 20px;
}

.about {
display: flex;
border: 1px solid;
border-style: dotted;
padding: 10px;
flex-direction: column;
border-radius: 10px;
}

.space2 {
    border-style: hidden;
    padding: 20px;
}

.skills {
    display: flex;
    border: 1px solid;
    border-style: dotted;
    padding: 10px;
    flex-direction: column;
    border-radius: 10px;
}

.list {
list-style-type: circle;
}

.expi {
    display: flex;
    border: 1px solid;
    border-style: dotted;
    padding: 10px;
    flex-direction: column;
    border-radius: 10px;
}

.space3 {
    border-style: hidden;
    padding: 20px;
}

.hobbys {
    display: flex;
    border: 1px solid;
    border-style: dotted;
    padding: 10px;
    flex-direction: column;
    border-radius: 10px;

}

.polaroid {
    width: 80%;
  background-color: white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  margin: auto;
}

.brackets {
    border-style: hidden;
    padding: 20px; 
}

.container {
    text-align: center;
  padding: 10px 20px;
}

.icons {
    width: 15%;
    display: inline-block;
}

.info {
    padding: 20px;;
}